* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: lighter;
}
/*? 1.Navigation*/
nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 116, 240);
  padding: 5px 50px;
  position: sticky;
  top: 0;
  z-index: 999;
}
/*? 1.1 Flipkart and flipkart explore plus*/
.fk-nav-logo a {
  color: white;
  font-style: italic;
}
.fk-nav-logo h2 {
  font-size: 3vh;
  color: white;
  font-style: italic;
}
.explore-plus {
  font-size: 2vh;
}

.fk-nav-logo span {
  color: rgb(250, 250, 6);
}
.explore-plus:hover {
  border-bottom: 1px solid rgb(254, 254, 254);
}
/*? 1.2 Flipkart Search Button*/
.flipkart-search input {
  padding: 4px;
  width: 350px;
}
/*? 1.3 Flipkart Login button*/
.login-btn {
  padding: 4px 14px;
  color: rgb(8, 114, 253);
  font-weight: bold;
}
/*? 1.4 more Linsk*/
.more-links {
  display: flex;
  gap: 30px;
  font-size: 3vh;
  font-weight: lighter;
  font-family: robot;
  margin-left: 30px;
}
.more-links a {
  font-style: normal;
  font-weight: bold;
  color: white;
}
/*? 2 Product Division*/
.product-division {
  display: flex;
  padding: 24px 50px;
  justify-content: space-between;
}
.product-div-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-div-content img {
  height: 50px;
  width: 50px;
}
.product-div-content a {
  color: black;
  font-size: 2.5vh;
}
.product-div-content a:hover {
  color: rgb(11, 127, 235);
}
/*? 3.image offer section*/
/*? 4.Bank Offer */
.bank-offer a {
  display: flex;
  justify-content: center;
}
.bank-offer a img {
  width: 600px;
  padding: 10px 0px;
}
/*? 5.Top offer section*/
/*? 7.Top  Deals on fashion*/
.offer-section {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  line-height: 1.4;
  padding: 4px 40px;
}
.offer-section-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 600px;
}
.offer-section-left h2 {
  font-weight: bold;
  font-size: 5vh;
  font-weight: lighter;
}
.offer-section-btn {
  background-color: rgb(40, 116, 240);
  color: white;
  border: none;
  font-size: 3vh;
  padding: 4px 8px;
}
.offer-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.offer-section-right a img {
  width: 130px;
}
.offer-section-right a img:hover {
  transform: scale(1.02);
}
.offer-section-right a h3 {
  color: green;
}
.offer-section-right h5 {
  color: rgb(167, 161, 161);
}

/*? 6.Discounted Product*/
.discount-product-content {
  display: grid;
  width: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
  padding: 10px;
}
.discount-product-content img {
  width: 350px;
}
/*? 8.last section before footer*/
.last-section-before-footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.last-section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: grey;
}
.last-section-content h4 {
  font-size: 3vh;
  font-weight: bold;
}
.last-section-content p {
  font-size: 2vh;
}
/** Footer Section*/
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
footer p {
  color: gray;
  font-size: 3vh;
}
footer a {
  color: white;
  font-size: 2vh;
}
footer a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.footer-top {
  display: flex;
  gap: 50px;
}
.footer-top-left {
  border-right: 1px solid white;
  padding-right: 40px;
  display: flex;
  gap: 45px;
  width: 65%;
}

.footer-top-right {
  display: flex;
  gap: 15px;
}
.footer-top-left-content,
.footer-top-right-content {
  display: flex;
  flex-direction: column;
  display: flex;
  gap: 10px;
}
.footer-top-right-content h6 {
  color: white;
}
.footer-down {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(255, 255, 255);
}
.footer-down i {
  color: gold;
}
.footer-down-img img {
  width: 40px;
  height: 23px;
  background-color: white;
}
